{
    admin 0.0.0.0:2019 {
        origins *
    }
    auto_https off
}

http://pidnap.iterate.localhost {
    reverse_proxy 127.0.0.1:9876
}

http://services.iterate.localhost {
    reverse_proxy 127.0.0.1:8777
}

http://caddy-admin.iterate.localhost {
    reverse_proxy 127.0.0.1:2019
}

:80 {
    respond "caddy ok" 200
}
