{
    admin 0.0.0.0:2019

    storage file_system {
        root /var/lib/caddy
    }

    local_certs
}

:80 {
    @health path /healthz
    respond @health "ok" 200

    @events host events.iterate.localhost
    reverse_proxy @events 127.0.0.1:19010

    reverse_proxy 127.0.0.1:19000 {
        header_up X-Original-Host {http.request.header.Host}
        header_up X-Original-SNI {http.request.tls.server_name}
        header_up X-Original-Proto {http.request.scheme}
    }
}

:443 {
    tls internal {
        on_demand
    }

    @health path /healthz
    respond @health "ok" 200

    @events host events.iterate.localhost
    reverse_proxy @events 127.0.0.1:19010

    reverse_proxy 127.0.0.1:19000 {
        header_up X-Original-Host {http.request.header.Host}
        header_up X-Original-SNI {http.request.tls.server_name}
        header_up X-Original-Proto {http.request.scheme}
    }
}
