{
    admin 0.0.0.0:2019
    local_certs
}

:80 {
    @health path /healthz
    respond @health "ok" 200

    @openobserve host openobserve.iterate.localhost
    handle @openobserve {
        reverse_proxy {
            dynamic srv {
                name openobserve.service.consul
                resolvers 127.0.0.1:53
                refresh 1s
            }
        }
    }

    @events host events.iterate.localhost
    handle @events {
        reverse_proxy {
            dynamic srv {
                name events-service.service.consul
                resolvers 127.0.0.1:53
                refresh 1s
            }
        }
    }

    @nomad host nomad.iterate.localhost
    handle @nomad {
        reverse_proxy {
            dynamic srv {
                name nomad-client.service.consul
                resolvers 127.0.0.1:53
                refresh 1s
            }
        }
    }

    @consul host consul.iterate.localhost
    handle @consul {
        reverse_proxy 127.0.0.1:8500
    }

    reverse_proxy {
        dynamic srv {
            name egress-proxy.service.consul
            resolvers 127.0.0.1:53
            refresh 1s
        }

        header_up X-Original-Host {http.request.header.Host}
        header_up X-Original-SNI {http.request.tls.server_name}
        header_up X-Original-Proto {http.request.scheme}
    }
}

:443 {
    tls internal {
        on_demand
    }

    @health path /healthz
    respond @health "ok" 200

    @openobserve host openobserve.iterate.localhost
    handle @openobserve {
        reverse_proxy {
            dynamic srv {
                name openobserve.service.consul
                resolvers 127.0.0.1:53
                refresh 1s
            }
        }
    }

    @events host events.iterate.localhost
    handle @events {
        reverse_proxy {
            dynamic srv {
                name events-service.service.consul
                resolvers 127.0.0.1:53
                refresh 1s
            }
        }
    }

    @nomad host nomad.iterate.localhost
    handle @nomad {
        reverse_proxy {
            dynamic srv {
                name nomad-client.service.consul
                resolvers 127.0.0.1:53
                refresh 1s
            }
        }
    }

    @consul host consul.iterate.localhost
    handle @consul {
        reverse_proxy 127.0.0.1:8500
    }

    reverse_proxy {
        dynamic srv {
            name egress-proxy.service.consul
            resolvers 127.0.0.1:53
            refresh 1s
        }

        header_up X-Original-Host {http.request.header.Host}
        header_up X-Original-SNI {http.request.tls.server_name}
        header_up X-Original-Proto {http.request.scheme}
    }
}
