{
    admin 0.0.0.0:2019

    storage file_system {
        root /var/lib/caddy
    }

    local_certs
}

:80 {
    @health path /healthz
    respond @health "ok" 200

    reverse_proxy {
        dynamic a {
            name egress.service.consul
            port 19000
            refresh 1s
            resolvers 127.0.0.1
        }

        header_up X-Original-Host {http.request.header.Host}
        header_up X-Original-SNI {http.request.tls.server_name}
        header_up X-Original-Proto {http.request.scheme}
    }
}

:443 {
    tls internal

    @health path /healthz
    respond @health "ok" 200

    reverse_proxy {
        dynamic a {
            name egress.service.consul
            port 19000
            refresh 1s
            resolvers 127.0.0.1
        }

        header_up X-Original-Host {http.request.header.Host}
        header_up X-Original-SNI {http.request.tls.server_name}
        header_up X-Original-Proto {http.request.scheme}
    }
}
