{
    admin 0.0.0.0:2019

    storage file_system {
        root /var/lib/caddy
    }

    local_certs
    auto_https off
}

:8080 {
    respond "caddy ok" 200
}

{{ range services }}
{{ if .Tags | contains "caddy" }}
{{ $serviceName := .Name }}
{{ $instances := service $serviceName }}
{{ if gt (len $instances) 0 }}
{{ $serviceName }}.localhost:80 {
    reverse_proxy {{ range $instances }}{{ .Address }}:{{ .Port }} {{ end }} {
        lb_policy round_robin
    }
}
{{ end }}
{{ end }}
{{ end }}

{{ $egress := service "egress" }}
:80 {
    @health path /healthz
    respond @health "ok" 200

{{ if gt (len $egress) 0 }}
    reverse_proxy {{ range $egress }}{{ .Address }}:{{ .Port }} {{ end }} {
        lb_policy round_robin
        header_up X-Original-Host {http.request.header.Host}
        header_up X-Original-SNI {http.request.tls.server_name}
        header_up X-Original-Proto {http.request.scheme}
    }
{{ else }}
    respond "egress unavailable" 503
{{ end }}
}

:443 {
    tls internal

    @health path /healthz
    respond @health "ok" 200

{{ if gt (len $egress) 0 }}
    reverse_proxy {{ range $egress }}{{ .Address }}:{{ .Port }} {{ end }} {
        lb_policy round_robin
        header_up X-Original-Host {http.request.header.Host}
        header_up X-Original-SNI {http.request.tls.server_name}
        header_up X-Original-Proto {http.request.scheme}
    }
{{ else }}
    respond "egress unavailable" 503
{{ end }}
}
