# make an oauth client in the auth app at /superadmin/clients, use this redirect uri
ITERATE_OAUTH_CLIENT_ID=
ITERATE_OAUTH_CLIENT_SECRET=
ITERATE_OAUTH_REDIRECT_URI=http://localhost:7001/api/iterate-auth/callback