name: autofix.ci

on:
  pull_request:
  push:
    branches: [main, "**/*autofix*", "*autofix*"]

jobs:
  autofix:
    runs-on: "${{ github.repository_owner == 'iterate-com' && 'depot-ubuntu-24.04-arm-4' || 'ubuntu-24.04' }}"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.13.0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "pnpm"
          cache-dependency-path: pnpm-lock.yaml

      - name: install and update lockfile
        run: pnpm install --no-frozen-lockfile

      - name: disable check annotations # (these annotations duplicate the ones from the lint workflow)
        run: |
          echo "::remove-matcher owner=eslint-compact::"
          echo "::remove-matcher owner=eslint-stylish::"

      - name: fix lint issues
        run: pnpm run lint --fix --max-warnings=-1

      - name: fix format issues
        run: pnpm run format

      - run: git diff
        if: always()

      - name: apply fixes
        if: always()
        uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
